hr.spacer-purple {
    border-top: 5px solid var(--spacer-purple);
}

.dnd-container {
    padding: 24px 32px;
    width: 790px;
    height: 400px;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.upload-text {
    font-weight: 700;
    font-size: 40px;
    line-height: 55px;
    margin-bottom: 12px;
}

.description-text {
    margin-top: 12px;
    margin-bottom: 38px;
    font-weight: 400;
    line-height: 28px;
    overflow-wrap: break-word;
}

.dnd-text {
    margin-left: 25px;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
}

.blue {
    color: var(--text-blue);
}

.gray {
    color: var(--text-gray);
}

.dnd-button {
    height: 117px;
    width: 510px;
    border: solid 1px;
    border-radius: 30px;
}

.dnd-wrapper {
    height: 107px;
    width: 500px;
    border: dashed 2px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
}